<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/styles/main.css" />

    <title>Document</title>
</head>

<body>
    <h1>Hello foodies</h1>
    


    <!-- <a href="/add"><button>want to add store</button></a> -->

    

    <form action="/bycitybyareabyfood" method="get">
        <h2>
            Search By:
            <input type="text" name="city" placeholder="Enter City" id="cityInput" />,
            <!-- <input type="text" name="all" placeholder="Search for famous street food, by Name or by area or by shopname"> -->
            <!-- <input type="text" name="city" placeholder="Enter City" id="cityInput">, -->
            <input type="text" name="fooditem" placeholder="Enter Food Item" />,
            <input type="text" name="area" placeholder="Your City Area" />,
            <input type="text" name="storename" placeholder="Store Name" />,
            <button type="submit">Submit</button>
        </h2>
    </form>
<%=username %>
    <div class="mainouter" id="container">
        <% street.forEach(element=> { %>
            <div class="outer" onclick="redirectToDetail('<%= element.id %>')">
                <div class="supposeimage">
                    <p>.</p>
                </div>
            
                <div class="detail">
                    <li>
                        <h2>
                            <%= element.store_name %>,
                        </h2>
                    </li>
                    <li>
                        <h4><img src="/images/pin.png" alt="" />&nbsp <%= element.city %>,&nbsp <%= element.area %>,</h4>
                        </li>
                        <li>
                            <h3>
                                <%= element.food_item %>,
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <%= element.overall_rating %>,
                            </h3>
                        </li>
                        </div>
            </div>
        <% }) %>
    </div>

<script>
    function redirectToDetail(storeId) {
        // Redirect to the detail page with the storeId as a parameter
        window.location.href = '/showdetial?id=' + encodeURIComponent(storeId);
    }


</script>

</body>

</html>
